@font-face {
    font-family: raleway;
    src: url(../font/Raleway-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratBold;
    src: url(../font/Montserrat-ExtraBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: montserrat;
}

body{
    background-image: url(../images/background.jpg);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
}

.website{

    p{
        font-size: 16px;
        
        span{
            color: #1092C2;
        }
    }
}

.socialMedia{
    display: flex;
    gap: 5em;
    
    img{
        width: 60px;
        height: 60px;
    }
}

#leftFixedBar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #E7F0F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    gap: 5px;
    p{
        text-align: center;
        color: #1092C2;
    }
}

.mainFooter{

    #separator{
        border-bottom: 2px solid #1092C2;
        width: 65%;
        height: 1px;
        padding: 0.5em 0;
        margin: 0 auto;
    }

    section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 3em;
    }
}

//RESPONSIVE GENERAL
@media screen and (max-width: 1090px){
    #leftFixedBar{
        display: none;
    }

    .mainFooter{
        
        section{
            flex-direction: column;
            justify-content: center;
            gap: 3em;
        }
    }
}