@font-face {
    font-family: raleway;
    src: url(../font/Raleway-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratBold;
    src: url(../font/Montserrat-ExtraBold.ttf);
}

*{
    font-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
}

body{
    background-image: url(../images/background.jpg);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

.website{
    p{
        font-size: 16px;
        span{
            color: #1092C2;
        }
    }
}

.socialMedia{
    display: flex;
    gap: 5em;
    img{
        width: 60px;
        height: 60px;
    }
}