header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10em;

    #headerTitle{

        h1{
            color: #1092C2;
            font-family: montserratBold;
            font-size: 42px;
        }
    
        #titleUnderline{
            height: 3px;
            width: 65%;
            background-color: black;
            border-radius: 20px;
        }
    }

    #menuBurger{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        cursor: pointer;
        
        div{
            width: 50px;
            height: 3px;
            background-color: black;
            transition: all ease-in-out 0.2s;
            border-radius: 10px;
        }

        .mid{
            width: 35px;
            transition: all ease-in-out 0.2s;
        }
    }

    #menuBurger:hover{
        div{
            width: 40px;
            background-color: #1092C2;
        }
        .mid{
            width: 50px;
        }
    }

    #navMenu{
        display: none;
        position: fixed;
        top: 0;
        left: 0px;
        flex-direction: column;
        background-color: rgba(#E7F0F5, 0.9);
        align-items: flex-start;
        justify-content: center;
        gap: 1em;
        width: 40%;
        height: 100%;
        z-index: 100;
        animation: menu 1s;

        li{
            transition: all ease-in-out 0.3s;
            width: 100%;
            padding: 1.5em 0;

            a{
                margin-left: 6em;
                color: black;
                font-size: 20px;
                transition: all ease-in-out 0.3s;
                padding: 0.9em 0;
                padding-right: 8em;
            }
        }

        li:hover{
            background-color: #1092C2;

            a{
                color: white;
            }
        }

        .socialMedia{
            padding-top: 2em;
            margin-left: 7em;
        }
    }

    @keyframes menu{
        from{
            left: -200%;
        }

        to{
            right: 100%;
        }
    }

    #close{
        position: fixed;
        top: 35px;
        left: 30%;
        display: none;
        z-index: 99999;
        color: black;
        font-size: 3em;
        transition: all ease-in-out 0.3s;
        animation: close 2s;
    }

    #close:hover{
        cursor: pointer;
        color: #1092C2;
    }

    @keyframes close{
        from{
            opacity: 0%;
        }

        50%{
            opacity: 0%;
        }

        to{
            opacity: 100%;
        }
    }
}