#acceuilMain{

    #laptop{
        height: auto;
        width: 38%;
        position: absolute;
        right: 0;
        top: 20%;
    }

    #title{
        padding: 2em 0;
        padding-left: 10em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3em;
        width: 50%;

        p{
            font-size: 28px;
        }

        h1{
            font-size: 62px;
            font-family: montserratBold;

            span{
                color: #1092C2;
                font-family: montserratBold;
            }
        }
    }
}