#acceuilMain{
    position: relative;

    #leftFixedBar{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #E7F0F5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        gap: 5px;
        p{
            text-align: center;
        }
    }

    #laptop{
        height: auto;
        width: 38%;
        position: absolute;
        right: 0;
        top: 2em;
    }

    #title{
        padding-left: 10em;
        padding-top: 8em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3em;
        width: 50%;

        p{
            font-size: 28px;
        }

        h1{
            font-size: 62px;
            font-family: montserratBold;

            span{
                color: #1092C2;
                font-family: montserratBold;
            }
        }
    }
}