#acceuilMain{
    height: 120vh;
    #laptop{
        height: auto;
        width: 38%;
        position: absolute;
        right: 0;
        top: 20%;
    }

    #laptop2{
        display: none;
    }

    #title{
        padding-top: 10em;
        padding-left: 10em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3em;
        width: 50%;

        p{
            font-size: 28px;
        }

        h1{
            font-size: 62px;
            font-family: montserratBold;

            span{
                color: #1092C2;
                font-family: montserratBold;
            }
        }
    }
}

//RESPONSIVE INDEX.HTML
@media screen and (max-width: 1090px){
    #acceuilMain{
        display: flex;
        flex-direction: column;
        align-items: center;

        #laptop{
            display: none;
        }

        #laptop2{
            display: block;
            width: 100%;
            height: auto;
        }

        #title{
            padding: 0;
            padding-bottom: 5em;
            width: 80%;
        }

        .socialMedia{
            align-self: center;
        }
    }
}

@media screen and (max-width: 570px){
    #acceuilMain{

        #title{
            p{
                font-size: 24px;
            }

             h1{
                 font-size: 50px;
             }
        }
    }
}

@media screen and (max-width: 470px){
    #acceuilMain{

        #title{
            padding-bottom: 0;
            p{
                font-size: 22px;
            }

             h1{
                 font-size: 40px;
             }
        }

        .socialMedia{
            gap: 2em;
        }
    }
}

@media screen and (max-width: 380px){
    #acceuilMain{

        #title{
            gap: 5em;
            
             h1{
                 font-size: 35px;
             }
        }
    }
}
