@font-face {
  font-family: raleway;
  src: url(../font/Raleway-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montserratBold;
  src: url(../font/Montserrat-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: montserrat;
}

body {
  background-image: url(../images/background.jpg);
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
}

.website p {
  font-size: 16px;
}
.website p span {
  color: #1092C2;
}

.socialMedia {
  display: flex;
  gap: 5em;
}
.socialMedia img {
  width: 60px;
  height: 60px;
}

#leftFixedBar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #E7F0F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  gap: 5px;
}
#leftFixedBar p {
  text-align: center;
  color: #1092C2;
}

.mainFooter #separator {
  border-bottom: 2px solid #1092C2;
  width: 65%;
  height: 1px;
  padding: 0.5em 0;
  margin: 0 auto;
}
.mainFooter section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 3em;
}

@media screen and (max-width: 1090px) {
  #leftFixedBar {
    display: none;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 10em;
}
header #headerTitle h1 {
  color: #1092C2;
  font-family: montserratBold;
  font-size: 42px;
}
header #headerTitle #titleUnderline {
  height: 3px;
  width: 65%;
  background-color: black;
  border-radius: 20px;
}
header #menuBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}
header #menuBurger div {
  width: 50px;
  height: 3px;
  background-color: black;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
}
header #menuBurger .mid {
  width: 35px;
  transition: all ease-in-out 0.2s;
}
header #menuBurger:hover div {
  width: 40px;
  background-color: #1092C2;
}
header #menuBurger:hover .mid {
  width: 50px;
}
header #navMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: rgba(231, 240, 245, 0.9);
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  width: 40%;
  height: 100%;
  z-index: 100;
  animation: menu 1s;
}
header #navMenu li {
  transition: all ease-in-out 0.3s;
  width: 100%;
  padding: 1.5em 0;
}
header #navMenu li a {
  margin-left: 5em;
  color: black;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
  padding: 0.9em 0;
  padding-right: 8em;
}
header #navMenu li:hover {
  background-color: #1092C2;
}
header #navMenu li:hover a {
  color: white;
}
header #navMenu .socialMedia {
  padding-top: 2em;
  margin-left: 5em;
}
@keyframes menu {
  from {
    left: -200%;
  }
  to {
    left: 0;
  }
}
@keyframes menumobile {
  from {
    left: 300%;
  }
  to {
    left: 100%;
  }
}
header #close {
  position: fixed;
  top: 35px;
  left: 30%;
  display: none;
  z-index: 99999;
  color: black;
  font-size: 3em;
  transition: all ease-in-out 0.3s;
  animation: close 2s;
}
header #close:hover {
  cursor: pointer;
  color: #1092C2;
}
@keyframes close {
  from {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-width: 1090px) {
  header {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
  }
  header .website {
    display: none;
  }
  header #menuBurger {
    position: fixed;
    top: 0;
    padding: 2em 0.5em;
    background-color: #1092C2;
    width: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  header #menuBurger:hover div {
    background-color: white;
  }
  header #navMenu {
    transform: translateX(-100%);
    left: 100%;
    animation: menumobile 1s;
  }
  header #navMenu li a {
    margin-left: 2.5em;
  }
  header #navMenu .socialMedia {
    margin-left: 2.5em;
    gap: 3em;
  }
  header #navMenu .socialMedia img {
    width: 45px;
    height: 45px;
  }
  header #close {
    left: 70%;
  }
}
@media screen and (max-width: 816px) {
  header #navMenu li a {
    padding-right: 3em;
  }
  header #navMenu .socialMedia {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  header #navMenu li a {
    padding-right: 1em;
    margin-left: 1em;
  }
}
@media screen and (max-width: 390px) {
  header #menuBurger {
    padding: 2em 1em;
  }
  header #navMenu li a {
    font-size: 16px;
  }
}
#acceuilMain #laptop {
  height: auto;
  width: 38%;
  position: absolute;
  right: 0;
  top: 20%;
}
#acceuilMain #title {
  padding: 2em 0;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  width: 50%;
}
#acceuilMain #title p {
  font-size: 28px;
}
#acceuilMain #title h1 {
  font-size: 62px;
  font-family: montserratBold;
}
#acceuilMain #title h1 span {
  color: #1092C2;
  font-family: montserratBold;
}

@media screen and (max-width: 1090px) {
  #acceuilMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #acceuilMain #laptop {
    position: initial;
    width: 80%;
  }
  #acceuilMain #title {
    padding: 0;
    width: 80%;
  }
  #acceuilMain .socialMedia {
    align-self: center;
  }
}
@media screen and (max-width: 570px) {
  #acceuilMain #title p {
    font-size: 24px;
  }
  #acceuilMain #title h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 470px) {
  #acceuilMain #title p {
    font-size: 22px;
  }
  #acceuilMain #title h1 {
    font-size: 40px;
  }
  #acceuilMain .socialMedia {
    gap: 2em;
  }
}
@media screen and (max-width: 380px) {
  #acceuilMain #title h1 {
    font-size: 35px;
  }
}
#aproposMain h2 {
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}
#aproposMain .separator {
  border-bottom: 1px solid #1092C2;
  width: 15%;
  height: 1px;
  padding: 0.5em 0;
  margin: 0 auto;
}
#aproposMain #aproposText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 70%;
  padding: 3em 0;
  margin: 0 auto;
}
#aproposMain #aproposText p {
  text-align: center;
}
#aproposMain #aproposText p span {
  color: #1092C2;
}
#aproposMain #parcours {
  background-color: #E7F0F5;
  padding: 3em 0;
  padding-left: 10em;
}
#aproposMain #parcours #parcoursTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
#aproposMain #parcours #parcoursTitle img {
  width: 66px;
  height: 66px;
}
#aproposMain #parcours #parcoursTitle h3 {
  font-size: 30px;
}
#aproposMain #parcours #timeline {
  padding: 3em 0;
  padding-left: 5em;
  display: flex;
  position: relative;
}
#aproposMain #parcours #timeline #timelineBar {
  border-right: 3px solid black;
  width: 1px;
  height: 130vh;
  position: relative;
}
#aproposMain #parcours #timeline #timelineBar .date {
  position: absolute;
  transform: translateX(-0.7%);
  left: 0;
  display: flex;
  align-items: flex-start;
  gap: 6em;
}
#aproposMain #parcours #timeline #timelineBar .date .leftPart {
  display: flex;
  align-items: center;
  gap: 5em;
}
#aproposMain #parcours #timeline #timelineBar .date .leftPart .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1092C2;
}
#aproposMain #parcours #timeline #timelineBar .date .leftPart p {
  font-size: 22px;
  width: 6em;
}
#aproposMain #parcours #timeline #timelineBar .date .leftPart .blueLine {
  margin-left: 2em;
  height: 1px;
  width: 65px;
  background-color: #1092C2;
}
#aproposMain #parcours #timeline #timelineBar .date .timelineText {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 30em;
}
#aproposMain #parcours #timeline #timelineBar .date .timelineText h4 {
  color: #1092C2;
  font-size: 22px;
  font-weight: bold;
}
#aproposMain #parcours #timeline #timelineBar .date .timelineText h5 {
  font-weight: 700;
  font-size: 21px;
}
#aproposMain #parcours #timeline #timelineBar .date .timelineText p {
  font-size: 18px;
}
#aproposMain #parcours #timeline #timelineBar .today {
  top: 5%;
}
#aproposMain #parcours #timeline #timelineBar .aug {
  top: 30%;
}
#aproposMain #parcours #timeline #timelineBar .jan {
  top: 55%;
}
#aproposMain #parcours #timeline #timelineBar .jul {
  top: 80%;
}
#aproposMain #outils {
  padding: 3em 0;
  padding-left: 10em;
}
#aproposMain #outils h3 {
  font-size: 30px;
}
#aproposMain #outils #logiciel {
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}
#aproposMain #outils #logiciel img {
  width: 90px;
  height: 90px;
}

#portfolioMain #projects {
  display: flex;
  flex-wrap: wrap;
  gap: 8em;
  justify-content: center;
  padding: 3em 0;
}
#portfolioMain #projects .projet {
  width: 400px;
  height: 400px;
  background-color: black;
  position: relative;
}
#portfolioMain #projects .projet .title {
  background-color: #1092C2;
  position: absolute;
  height: 75px;
  width: 65%;
  bottom: 0;
  transform: translateY(50%);
  right: 10%;
}
#portfolioMain #projects .bot {
  margin-top: 5em;
}

#contactMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contactMain h2 {
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}
#contactMain form {
  padding-top: 3em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#contactMain form input {
  border: 1px solid #1092C2;
  border-radius: 5px;
  padding: 1em 30em;
  padding-left: 2em;
}
#contactMain form textarea {
  border: 1px solid #1092C2;
  border-radius: 5px;
  padding: 1em 30em;
  padding-left: 2em;
}
#contactMain .btn {
  display: flex;
  justify-content: flex-end;
  width: 49%;
}
#contactMain .btn a {
  padding: 0.5em 2em;
  background-color: #1092C2;
  border: 1px solid #1092C2;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.2s;
}
#contactMain .btn a:hover {
  color: #1092C2;
  background-color: white;
}
#contactMain #address {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 3em;
  padding-bottom: 5em;
  padding-left: 15em;
  gap: 2.5em;
}
#contactMain #address div {
  display: flex;
  align-items: center;
  gap: 1em;
}
#contactMain #address div img {
  width: 50px;
  height: auto;
}
#contactMain #address div a, #contactMain #address div p {
  font-weight: bold;
  color: black;
}
#contactMain #laptop {
  width: 35%;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 20%;
}
#contactMain .mainFooter #separator {
  width: 120%;
}
#contactMain .mainFooter section {
  gap: 15em;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 0;
  background-color: #E7F0F5;
  margin-top: 5em;
  text-align: center;
}

@media screen and (max-width: 450px) {
  footer {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
